// COLORS

$off-black: #20222B;
$white: #fff;
$off-white: #A5AFD7;
$blue: #3C4251;
$light-blue: #464B5E;
$dark-blue: #333745;
$purple: #8357C5;

// SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-bp: 45rem;